@import url('https://fonts.google.com/specimen/Poppins');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 98%);
}

/* flex */
.flexy{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.heading{
  text-align: center;
  line-height: 1.6;
  color: hsl(234, 12%, 34%);
  padding: 40px;
}

.heading h2:nth-child(1){
  font-weight: 500;
  letter-spacing: 2px;
}

.heading p{
  padding: 20px;
}

/* grid */
.card{
  display: grid;
  grid-gap: 2em;
  grid-template-areas: 
  "first second third"
  "first fourth third";
  margin: 0 10em;
}

.item1, .item2, .item3, .item4{
  height: 200px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.images{
  position: absolute;
  right: 10%;
  bottom: 10%;
}

.item1>p, .item2>p, .item3>p, .item4>p{
  opacity: 70%;
  font-size: 15px;
  margin-top: 10px;
  
}

.item1{
  grid-area: first;
  border-top: 5px solid hsl(180, 62%, 55%);
  align-self: center;
}

.item2{
  grid-area: second;
  border-top: 5px solid hsl(0, 78%, 62%);
}

.item3{
  grid-area: third;
  border-top: 5px solid hsl(212, 86%, 64%);
  align-self: center;

}

.item4{
  grid-area: fourth;
  border-top: 5px solid hsl(34, 97%, 64%);
}

@media (max-width: 900px) {
  .flexy{
    width: 100%;
  }
  .heading{
    padding: 30px;
  }

  .card{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 375px){
  .heading{
    padding: 15px
  }
  .card{
    width: 250px;
  }
}